<div class="container py-4">
  <div class="row py-2">
    <div class="col">
      <%= render PaperComponent.new do %>
        <h1 class="h1">Yuela</h1>
        <%= UserCommand.count %> user commands
        <%= GameKey.count %> game keys
        <%= UserReaction.count %> reactions
        <%= Birthday.count %> birthdays
        <%= Afk.count %> people AFK
      <% end %>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <%= render PaperComponent.new do %>
        <%= render AfkButtonComponent.new %>
      <% end %>
    </div>
  </div>
</div>