<div class="p-3">
  <%- afk = afk.nil? ? current_user.build_afk : afk %>
  <%= turbo_frame_tag :afk do %>
    <%= form_with model: afk, method: afk.persisted? ? :delete : :post do |form| %>
      <%= form.label :comment, "Need to step away from the keyboard?", class: "block text-sm font-medium text-gray-700" %>
      <%= content_tag :div, class: "mt-1 flex rounded-md p-2 m-2", data: tippy_data do %>
        <%= form.text_field :message, disabled: current_user.afk?, class: "disabled:opacity-50 focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md sm:text-sm border-gray-300", placeholder: "I'm late for a very important date"  %>
      <% end %>
      <%= render ButtonComponent.new do %>
        <%= text %>
      <% end %>
    <% end %>
  <% end %>
</div>
