<div id="<%= dom_id(game_key) %>">
  <%= render 'shared/paper' do %>
    <div class="p-3">
      <div class="grid grid-cols-2 gap-2 h-24">
        <div class="w-full bg-gray-400 rounded-lg"></div>
        <div class="flex flex-col items-start ml-4">
          <h4 class="text-xl font-semibold"><%= game_key.name %></h4>
          <% if key_visible %>
            <p class="text-sm"><%= game_key.key %></p>
          <% else %>
            <%= render 'shared/button', data: { "claim-button-confirm": t(".confirm-claim"), controller: "claim-button", action: "click->claim-button#claim", game_key: game_key.to_signed_global_id.to_s } do %>
              <%= t(".claim") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
