<p id="notice"><%= notice %></p>

<% content_for(:title) { t(".game_key") } %>

<%= render 'shared/paper' do %>
  <div class="p-3">
    <%= styled_label_for @game_key, :name %>
    <%= @game_key.name %>
  </div>

  <div class="p-3">
    <%= styled_label_for @game_key, :key %>
    <%= @game_key.name %>
  </div>

  <div class="p-3">
    <%= styled_label_for @game_key, :servers %>
    <% @game_key.servers.each do |server| %>
      <%= server.name %>
    <% end %>
  </div>
<% end %>


<%= link_to 'Edit', edit_game_key_path(@game_key) %> |
<%= link_to 'Back', game_keys_path %>
