<p id="notice" class="text-gray-900 dark:text-white"><%= notice %></p>

<% content_for(:title) { t(".game_key") } %>

<%= render 'shared/paper' do %>
  <div class="p-3">
    <%= styled_label_for @game_key, :name %>
    <span class="text-gray-900 dark:text-white"><%= @game_key.name %></span>
  </div>

  <div class="p-3">
    <%= styled_label_for @game_key, :key %>
    <span class="text-gray-900 dark:text-white font-mono"><%= @game_key.key %></span>
  </div>

  <div class="p-3">
    <%= styled_label_for @game_key, :servers %>
    <% @game_key.servers.each do |server| %>
      <span class="text-gray-900 dark:text-white"><%= server.name %></span>
    <% end %>
  </div>
<% end %>


<%= link_to 'Edit', edit_game_key_path(@game_key), class: "text-primary-600 hover:text-primary-900 dark:text-primary-400 dark:hover:text-primary-200" %> |
<%= link_to 'Back', game_keys_path, class: "text-primary-600 hover:text-primary-900 dark:text-primary-400 dark:hover:text-primary-200" %>
