<% content_for(:subnav) { render 'shared/crayta_sub_nav' } %>

<%= render 'shared/searchbar' %>

<%= render 'shared/table', headers: [t(".name"), t(".games"), t(".visits"), ''] do %>
  <% @users.each do |user| %>
    <tr>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= user.name %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= user.crayta_games.size.to_s %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= user.crayta_games.sum(:visits).to_s %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= link_to t(".show"), crayta_user_games_url(user) %></td>
    </tr>
  <% end %>
<% end %>
<%== pagy_nav(@pagy) %>