<%= render 'shared/table', headers: [t(".name"), t(".creator"), t(".visits"), ''] do %>
  <% games.each do |game| %>
    <tr>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= game.name %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= link_to game.crayta_user.name, crayta_user_games_url(game.crayta_user) %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= game.visits.to_s %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= link_to('Show', game) %></td>
    </tr>
  <% end %>
<% end %>

<%== pagy_nav(pagy) %>