<% content_for(:subnav) do %>
  <%= render CraytaSubNavComponent.new %>
<% end %>

<div>
  <span class="font-bold"><%= t(".total_visits") %></span>
  <span><%= number_to_human CraytaGame.sum(:visits) %></span>
</div>

<div>
  <span class="font-bold"><%= t(".total_games") %></span>
  <span><%= number_to_human CraytaGame.count %></span>
</div>


<%= render "crayta/games/table", pagy: @pagy, games: @games %>
