<div class="grid grid-cols-1 gap-2 xl:max-w-6xl max-w-4xl" data-controller="reaction-tester">
  <%= render 'shared/paper' do %>
    <div class="p-3">
      <%= form_with(model: user_reaction, builder: CustomFormBuilder) do |form| %>

        <%= form.container_for :regex do %>
          <%= form.label :regex %>
          <%= form.text_field :regex, data: { "reaction-tester-target": "regex" } %>
          <%= form.error_for :regex %>
        <% end %>

        <%= form.container_for :output do %>
          <%= form.label :output %>
          <%= form.text_field :output, data: { "reaction-tester-target": "output" } %>
          <%= form.error_for :output %>
        <% end %>

        <%= form.container_for :chance do %>
          <%= form.label :chance %>
          <%= form.text_field :chance, type: "number", max: 1, min: 0, step: 0.01, data: { "reaction-tester-target": "output" } %>
          <%= form.error_for :chance %>
        <% end %>

        <%= form.container_for :server_ids do %>
          <%= form.label :server_ids, t('.servers') %>
          <%= form.select :server_ids, options_from_collection_for_select(current_user.servers, :id, :name, form.object.server_ids), {}, { multiple: true } %>
          <%= form.error_for :server_ids %>
        <% end %>

        <div class="actions">
          <%= render 'shared/button' do %>
            <%= t(".submit") %>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>

  <%= render 'shared/paper' do %>
    <div class="p-3">
      <h6><%= t(".user-reaction-test-title") %></h6>
      <%= styled_label_for :user_reaction, :input %>
      <%= styled_text_field :user_reaction, :input, data: { "reaction-tester-target": "input" } %>

      <%= render "user_reactions/test_result", output: "" %>

      <div class="mt-3">
        <%= render 'shared/button', data: {action: "click->reaction-tester#run"} do %>
          <%= t(".test") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


