<p id="notice"><%= notice %></p>

<% content_for(:title) { t(".title")} %>

<%= render 'shared/table', headers: [t(".regex"), t(".output"), ''] do %>
  <% @user_reactions.each do |user_reaction| %>
    <tr>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= user_reaction.regex %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-ellipsis overflow-hidden"><%= user_reaction.output %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 w-64">
        <%= link_to 'Show', user_reaction %>
        <%= link_to 'Edit', edit_user_reaction_path(user_reaction) if current_user == user_reaction.user %>
        <%= link_to 'Destroy', user_reaction, method: :delete, data: {confirm: 'Are you sure?'} if current_user == user_reaction.user %>
      </td>
    </tr>
  <% end %>
<% end %>

<%== pagy_nav(@pagy) %>

<br>

<%= link_to 'New User Reaction', new_user_reaction_path %>
