<p id="notice"><%= notice %></p>

<% content_for(:title) { t(".title")} %>

<%= render Table::TableComponent.new do |c| %>
  <% c.table_header do |th| %>
    <% th.cell { t(".regex") } %>
    <% th.cell { t(".output")} %>
    <% th.cell {} %>
  <% end %>

  <% @user_reactions.each do |user_reaction| %>
    <% c.table_row do |r| %>
      <% r.cell { user_reaction.regex } %>
      <% r.cell(class: "overflow-ellipsis overflow-hidden") { user_reaction.output } %>
      <% r.cell do %>
          <%= link_to 'Show', user_reaction %>
          <%= link_to 'Edit', edit_user_reaction_path(user_reaction) if current_user == user_reaction.user %>
          <%= link_to 'Destroy', user_reaction, method: :delete, data: {confirm: 'Are you sure?'} if current_user == user_reaction.user %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%== pagy_nav(@pagy) %>

<br>

<%= link_to 'New User Reaction', new_user_reaction_path %>
