<% content_for(:title) { t(".title") } %>

<%= render PaperComponent.new do %>
  <div class="p-3">
    <div class="p-3">
      <%= render ::Tags::LabelComponent.new(:user_reaction, :regex) %>
      <pre><%= @user_reaction.regex %></pre>
    </div>

    <div class="p-3">
      <%= render ::Tags::LabelComponent.new(:user_reaction, :output) %>
      <pre class="whitespace-pre-wrap"><%= @user_reaction.output %></pre>
    </div>
  </div>
<% end %>

<% if current_user == @user_reaction.user %>
  <%= link_to 'Edit', edit_user_reaction_path(@user_reaction) %> |
<% end %>
<%= link_to 'Back', user_reactions_path %>
